.text-container {
    font-family: "Montserrat", sans-serif;
    background-image: url("/img/banner-home.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 8%;

    .text-bienvenidos {
        display: flex;
        justify-content: center;
        color: $maincolor;
        font-size: 60px;
    }
    
    .text- {
        display: flex;
        justify-content: center;
        font-size: 20px;
        margin: 5px;
    }
    
    .buttons-banner-home {
    display: flex;
    justify-content: center;
    margin: 40px;
    color: white;

       .button-serv {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        padding: 10px 20px;
        background-color:black;
        border: 5px solid green;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease 0s;

        &:hover {
            background-color: #003f0f;
        }
       }

       .button-reserv {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        padding: 9px 25px;
        background-color: $maincolor;
        border: none;
        border-radius: 5%;
        cursor: pointer;
        transition: all 0.3s ease 0s;

        &:hover {
            background-color: $secondarycolor;
        }
       }
    }
}
