*{
    margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Montserrat", sans-serif;
}

body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
  /* Nav */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
}
  
.logo {
    margin-right: auto;
}
  
.nav__links {
    list-style: none;
    display: flex;
}
  
.nav__links, .cta, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: white;
    text-decoration: none;
}
  
.nav__links li {
    padding: 0px 20px;
}
  
.nav__links li a {
    transition: all 0.3s ease 0s;
}
  
.nav__links li a:hover {
    color: #00A827;
}
  
.cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #00A827;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
  
.cta:hover {
    background-color: #003f0f;
}

.text-container {
    font-family: "Montserrat", sans-serif;
    background-image: url("/serviciosvvm/img/banner-home.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 8%;

}

.text-bienvenidos {
    display: flex;
    justify-content: center;
    color: #00A827;
    font-size: 60px;
}

.text- {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 5px;
}

.buttons-banner-home {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.button-serv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    padding: 10px 20px;
    background-color:black;
    border: 5px solid green;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button-serv:hover {
    background-color: #003f0f;
}

.button-reserv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    padding: 9px 25px;
    background-color:#00A827;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button-reserv:hover {
    background-color: #003f0f;
}

/* Grid de imagenes */


.servicios-txt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.services-content {
    padding: 100px 0;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
}

.item-service {
    background-color: rgb(255, 255, 255);
    width: 150px;
}

.servi-txt {
    padding: 50px 30px;
}

h3 {
    font-size: 20px;
    color:  grey;
    margin-bottom: 20px;
}

.text-asesor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.button-vmas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    padding: 9px 25px;
    background-color:#00A827;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
  
.button-vmas:hover {
    background-color: #003f0f;
}



/* slideshow marcas infinito */

.clientes-txt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nuestros-cl {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    display: flex;
    height: auto;
    margin: auto;
    overflow: hidden;
    align-items: center;
}

.slider::before {
    position: absolute;
    z-index: 1;
    left: 0;
    content: "";
    width: 23.958%;
    height: 110px;
}

.slider::after {
    position: absolute;
    z-index: 1;
    left: 0;
    content: "";
    width: 23.958%;
    height: 110px;
}

.slider .slide-track {
    display: flex;
    animation: scroll 80s linear infinite;
    -webkit-animation: scroll 80s linear infinite;
    width: calc(240px * 10);
}

.slider .slide {
    display: flex;
}

.slider .slide img {
    width: 237px;
    height: 90px;
    padding: 10px;
    cursor: pointer;
    margin: 20px;
    border-radius: 8px;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-240px * 5));
        transform: translateX(calc(-240px * 5));
    }
}

/* CORREO PARA SABER MAS */

.register-mail {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: white;
    padding: 8%;
}

.mas-pregunta {
    display: flex;
    justify-content: center;
    color: black;
}

.dejatumail-txt{
    display: flex;
    justify-content: center;
    color: #707070;
    font-size: 20px;
}

.mail-short {
    display: flex;
    justify-content: center;
    margin: 20px;
}

/* Footer */

footer {
    background: black;
    color: #fff;
    text-align: right;
    padding: 2% 8%;
    position: relative;
    width: 100%;
    bottom: 0;

}

.logo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}